<?xml version="1.0" encoding="GBK"?>
<!-- 指定Spring配置文件的Schema信息 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package=""/>
    <context:annotation-config/>
	
    <bean id="myService" class="com.telenav.cserver.module.MyServiceImpl"/>

    <bean id="loginAction" class="com.telenav.cserver.module.LoginAction" scope="prototype">
		<property name="ms" ref="myService"/>
	</bean>
</beans>

